body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url(images/Fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    flex: 1;
}

.form-container {
    width: 50%;
    padding: 20px;
    background-color: #ddbf7e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: rgb(110, 99, 35);
    border-color: rgb(170, 153, 57); 
}

.btn-primary:hover {
    background-color: rgb(143, 134, 86); 
    border-color: rgb(65, 57, 15); 
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title h1 {
    font-family: "MedievalSharp", cursive;
    font-weight: 800;
    text-align: center;
}


h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    text-align: center;
}


.footer {
    background-color: rgb(110, 99, 35);
    color: #fff;
    padding: 5px 0;
    text-align: center;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-container, .logo {
        width: 100%;
    }

    .vertical-line {
        display: none;
    }

    .form-container {
        margin-bottom: 20px;
    }
}
